{% extends "layouts/auth_base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block left_content %}

<h2>
Password Recovery
</h2>

<p>
Enter your company email address to receive a secure password reset link.
Only registered users can reset their passwords.
</p>

{% endblock %}

{% block auth_content %}

<h1>Forgot Password</h1>

<p>
Enter your company email address.
</p>

<form method="post">

    {% csrf_token %}

    {{ form.email }}

    <button type="submit">
        SEND RESET LINK
    </button>

</form>

<div class="login-links">

    <a href="{% url 'admin_login' %}">
        ← Back to Administrator Login
    </a>

</div>

{% endblock %}