{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="card shadow-sm">

        <div class="card-header">

            <h3>Create Employee</h3>

        </div>

        <div class="card-body">

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <button
                    type="submit"
                    class="btn btn-danger">

                    Create Employee

                </button>

                <a
                    href="{% url 'user_management' %}"
                    class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}