{% extends "base.html" %}

{% block content %}

<div class="card shadow-lg border-0">

    <div class="card-header bg-success text-white">

        <h3>

            Edit Well Target

        </h3>

    </div>

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <a
                href="{% url 'well_targets' %}"
                class="btn btn-secondary">

                Cancel

            </a>

            <button
                type="submit"
                class="btn btn-success">

                Save Changes

            </button>

        </form>

    </div>

</div>

{% endblock %}